ansible
ansible-core
ansible-tower-cli
attrs
bcrypt
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
dasbus
distro
docker
docker-compose
dockerpty
docopt
file-magic
idna
importlib-resources
Jinja2
jsonschema
libcomps
lxml
MarkupSafe
packaging
paramiko
pexpect
psutil
ptyprocess
pycparser
pycups
pycurl
PyNaCl
pyrsistent
PySocks
python-dateutil
pyudev
requests
resolvelib
rpm
texttable
urllib3
websocket-client
